.club-participations{

    padding:20px;

}

.reservation-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    border:1px solid #ddd;

    padding:15px;

    border-radius:8px;

    margin-bottom:15px;

    background:white;

}

button{

    background:#d9534f;

    color:white;

    border:none;

    padding:6px 12px;

    border-radius:5px;

    cursor:pointer;

}